<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="100%">
    <tbody>
    <tr class="firstRow">
        <td valign="top">
            编号
        </td>
        <td valign="top">
            功能点<br/>
        </td>
        <td valign="top">
            用例编号
        </td>
        <td valign="top">
            说明
        </td>
        <td valign="top">
            前置条件
        </td>
        <td valign="top">
            步骤
        </td>
        <td valign="top">
            期待结果
        </td>
        <td valign="top">
            审批人
        </td>
    </tr>
    <tr>
        <td valign="top"></td>
        <td valign="top"></td>
        <td valign="top"></td>
        <td valign="top"></td>
        <td valign="top"></td>
        <td valign="top"></td>
        <td valign="top"></td>
        <td valign="top"></td>
    </tr>
    </tbody>
</table>
</body>
</html>