<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="application/msword"/>
    <title th:text="${swaggerInfo.title}">Title</title>
    <style type="text/css">
        body {
            font-family: Trebuchet MS, sans-serif;
            font-size: 15px;
            width: 75%;
            margin: auto;
        }

        .text-center {
            text-align: center;
        }

        .back-color {
            background-color: lightblue
        }

        .api-title {
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1 class="text-center" th:text="|${swaggerInfo.title}(${swaggerInfo.version})|">系统名称(版本号)</h1>
<h3 class="text-center" th:text="${swaggerInfo.description}">文档描述</h3>
<div th:each="tag : ${swaggerInfo.tagList}">
    <h2 th:text="|${tagStat.count}. ${tag.name}|">1. Tag名称</h2>
    <p style="text-indent: 2em" th:text="${tag.description}">这是Tag的一段描述文本</p>
    <div style="margin: 0 2em" th:each="path : ${tag.pathList}">
        <table>
            <tr>
                <th class="back-color api-title" colspan="6" th:text="|${pathStat.count}. ${path.summary}|">1. 接口名称</th>
            </tr>
            <tr>
                <td class="text-center" width="20%">描述</td>
                <td colspan="5" th:text="${path.description}">获取用户信息</td>
            </tr>
            <tr>
                <td class="text-center" width="20%">URL</td>
                <td colspan="5" th:text="${path.path}">/user/{username}</td>
            </tr>
            <tr>
                <td class="text-center" width="20%">Method</td>
                <td colspan="5" th:text="${#strings.toUpperCase(path.method)}">GET</td>
            </tr>
            <tr th:unless="${path.params == null}" class="back-color">
                <th width="20%">参数名</th>
                <th width="15%">数据类型</th>
                <th width="15%">Ref</th>
                <th width="15%">参数类型</th>
                <th width="15%">是否必填</th>
                <th>说明</th>
            </tr>
            <tr th:unless="${path.params == null}" th:each="param : ${path.params}" class="text-center">
                <td width="20%" th:text="${param.name}">username</td>
                <td width="15%" th:text="${param.dataType}">STRING</td>
                <td width="15%">
<!--                    <a th:unless="${param.schema == null}" href="#User" th:text="${param.schema.name}">User</a>-->
                </td>
                <td width="15%" th:text="${param.paramType}">path</td>
                <td width="15%" th:text="${param.required ? '是' : '否'}">是</td>
                <td th:text="${param.description}">用户名称</td>
            </tr>
            <tr th:unless="${path.responses == null}" class="back-color">
                <th width="20%">状态码</th>
                <th width="15%">数据类型</th>
                <th width="15%">Ref</th>
                <th colspan="3">说明</th>
            </tr>
            <tr th:unless="${path.responses == null}" th:each="response : ${path.responses}" class="text-center">
                <td width="20%" th:text="${response.status ?: ''}">200</td>
                <td width="15%" th:text="${response.dataType ?: ''}">STRING</td>
                <td width="15%" th:text="${response.schema != null ? response.schema.name : ''}">test</td>
                <td colspan="3" th:text="${response.description}">成功</td>
            </tr>
        </table>
        <br/>
    </div>
</div>
<h2>Model</h2>
<ul th:each="model : ${swaggerInfo.models}">
    <li>
        <h3><a id="User" th:id="${model.title}"><code th:text="${model.title}">User</code></a></h3>
        <div th:each="prop : ${model.properties}">
            <div th:text="${prop.name}">username (required)</div>
            <div><span class="param-type"><a href="#string" th:text="${prop.type}">String</a></span></div>
        </div>
    </li>
</ul>

<div class="model">

</div>
</body>
</html>