<h1 style="white-space: normal; text-align: center;">系统名称 - 版本号</h1>
<h3 style="text-align: center;">
    文档描述信息<br/></h3><h2>Tags<em><br/></em></h2><h3 style="white-space: normal; text-align: center;">Users</h3>
<p style="white-space: normal; text-align: center;"><em>Tag描述</em><br/></p><p style="white-space: normal;">
    <em><br/></em></p>
<table data-sort="sortDisabled">
    <tbody>
    <tr class="firstRow">
        <td valign="top" rowspan="1" colspan="7" style="word-break: break-all;">接口名称<br/></td>
    </tr>
    <tr>
        <td width="91" valign="middle" style="word-break: break-all;" align="left">描述</td>
        <td valign="top" rowspan="1" colspan="6" width="38"><br/></td>
    </tr>
    <tr>
        <td width="91" valign="middle" style="word-break: break-all;" align="left">URL</td>
        <td valign="top" rowspan="1" colspan="6" style="word-break: break-all;" width="38"><br/></td>
    </tr>
    <tr>
        <td width="91" valign="middle" style="word-break: break-all;" align="left">Method</td>
        <td valign="top" rowspan="1" colspan="6" width="38"><br/></td>
    </tr>
    <tr>
        <td width="91" valign="middle" style="word-break: break-all;" rowspan="2" colspan="1" align="left">Request</td>
        <td width="133" valign="middle" style="word-break: break-all;" align="center">参数名<span
                style="background-color: rgb(79, 129, 189);"></span></td>
        <td width="91" valign="middle" style="word-break: break-all;" align="center">数据类型</td>
        <td width="113" valign="middle" style="word-break: break-all;" align="center">传递方式</td>
        <td width="190" valign="middle" style="word-break: break-all;" align="center">引用对象</td>
        <td width="161" valign="middle" style="word-break: break-all;" align="center">是否必填</td>
        <td width="130" valign="middle" style="word-break: break-all;" align="center">说明</td>
    </tr>
    <tr>
        <td width="133" valign="top"><br/></td>
        <td width="91" valign="top"><br/></td>
        <td width="113" valign="top"><br/></td>
        <td width="190" valign="top"><br/></td>
        <td width="161" valign="top"><br/></td>
        <td width="130" valign="top"><br/></td>
    </tr>
    <tr>
        <td width="91" valign="middle" style="word-break: break-all;" rowspan="2" colspan="1" align="left">Response</td>
        <td width="133" valign="middle" style="word-break: break-all;" align="center">状态码</td>
        <td width="91" valign="middle" style="word-break: break-all;" align="center">数据类型</td>
        <td valign="middle" rowspan="1" colspan="2" width="324" style="word-break: break-all;" align="center">引用对象</td>
        <td valign="middle" style="word-break: break-all;" rowspan="1" colspan="2" width="31" align="center">说明</td>
    </tr>
    <tr>
        <td width="133" valign="top"><br/></td>
        <td width="91" valign="top"><br/></td>
        <td valign="top" rowspan="1" colspan="2"><br/></td>
        <td valign="top" rowspan="1" colspan="2" style="word-break: break-all;"><br/></td>
    </tr>
    </tbody>
</table><h2><br/>Models</h2>
<table data-sort="sortDisabled">
    <tbody>
    <tr class="firstRow">
        <td valign="top" rowspan="1" colspan="5" style="word-break: break-all;">实体名称</td>
    </tr>
    <tr>
        <td width="105" valign="top" style="word-break: break-all;">描述</td>
        <td valign="top" style="word-break: break-all;" rowspan="1" colspan="4" width="85"><br/></td>
    </tr>
    <tr>
        <td width="105" valign="middle" style="word-break: break-all;" rowspan="2" colspan="1" align="left">属性</td>
        <td width="116" valign="middle" style="word-break: break-all;" align="center">名称</td>
        <td width="97" valign="middle" style="word-break: break-all;" align="center">类型</td>
        <td width="362" valign="middle" style="word-break: break-all;" align="center">引用对象</td>
        <td width="190" valign="middle" style="word-break: break-all;" align="center">说明</td>
    </tr>
    <tr>
        <td width="105" valign="top"><br/></td>
        <td width="141" valign="top"><br/></td>
        <td width="126" valign="top"><br/></td>
        <td width="362" valign="top"><br/></td>
    </tr>
    <tr>
        <td width="105" valign="top" style="word-break: break-all;">示例</td>
        <td valign="top" rowspan="1" colspan="4" width="85"><br/></td>
    </tr>
    </tbody>
</table><p><br/></p>