<h1 style="white-space: normal; text-align: center;">系统名称 - 版本号</h1>
<h3 style="text-align: center;">文档描述信息<br/></h3>
<hr/>
<h2>Tags<em><br/></em><br/></h2>
<h3 style="white-space: normal; text-align: center;">Users</h3>
<p style="white-space: normal; text-align: center;"><em>Tag描述</em><br/></p>
<p style="white-space: normal;"><em><br/></em></p>
<table data-sort="sortDisabled" align="center" width="1041">
    <tbody>
    <tr class="firstRow">
        <td valign="top" rowspan="1" colspan="7" style="word-break: break-all;" width="775">接口名称<br/></td>
    </tr>
    <tr>
        <td width="82" valign="middle" style="word-break: break-all;" align="left">描述</td>
        <td valign="top" rowspan="1" colspan="6" width="692"><br/></td>
    </tr>
    <tr>
        <td width="82" valign="middle" style="word-break: break-all;" align="left">URL</td>
        <td valign="top" rowspan="1" colspan="6" style="word-break: break-all;" width="692"><br/></td>
    </tr>
    <tr>
        <td width="82" valign="middle" style="word-break: break-all;" align="left">Method</td>
        <td valign="top" rowspan="1" colspan="6" width="692"><br/></td>
    </tr>
    <tr>
        <td width="82" valign="middle" style="word-break: break-all;" rowspan="2" colspan="1" align="left">Request</td>
        <td width="113" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">参数名<span style="background-color: rgb(79, 129, 189);"></span></td>
        <td width="82" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">数据类型
        </td>
        <td width="98" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">传递方式
        </td>
        <td width="154" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">引用对象
        </td>
        <td width="133" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">是否必填
        </td>
        <td width="110" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">说明
        </td>
    </tr>
    <tr>
        <td width="113" valign="top"><br/></td>
        <td width="82" valign="top"><br/></td>
        <td width="98" valign="top"><br/></td>
        <td width="154" valign="top"><br/></td>
        <td width="133" valign="top"><br/></td>
        <td width="110" valign="top"><br/></td>
    </tr>
    <tr>
        <td width="82" valign="middle" style="word-break: break-all;" rowspan="2" colspan="1" align="left">Response</td>
        <td width="113" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">状态码
        </td>
        <td width="82" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">数据类型
        </td>
        <td valign="middle" rowspan="1" colspan="2" width="253"
            style="word-break: break-all; background-color: rgb(237, 245, 250);" align="center">引用对象
        </td>
        <td valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);" rowspan="1" colspan="2"
            width="244" align="center">说明
        </td>
    </tr>
    <tr>
        <td width="113" valign="top"><br/></td>
        <td width="82" valign="top"><br/></td>
        <td valign="top" rowspan="1" colspan="2" width="253"><br/></td>
        <td valign="top" rowspan="1" colspan="2" style="word-break: break-all;" width="244"><br/></td>
    </tr>
    </tbody>
</table><p><br/></p>
<hr/>
<h2>Models<br/></h2>
<table data-sort="sortDisabled" align="center" width="1041">
    <tbody>
    <tr class="firstRow">
        <td valign="top" rowspan="1" colspan="5" style="word-break: break-all;" width="775">实体名称</td>
    </tr>
    <tr>
        <td width="91" valign="top" style="word-break: break-all;">描述</td>
        <td valign="top" style="word-break: break-all;" rowspan="1" colspan="4" width="684"><br/></td>
    </tr>
    <tr>
        <td width="91" valign="middle" style="word-break: break-all;" rowspan="2" colspan="1" align="left">属性</td>
        <td width="99" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">名称
        </td>
        <td width="118" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">类型
        </td>
        <td width="232" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">引用对象
        </td>
        <td width="233" valign="middle" style="word-break: break-all; background-color: rgb(237, 245, 250);"
            align="center">说明
        </td>
    </tr>
    <tr>
        <td width="99" valign="top"><br/></td>
        <td width="118" valign="top"><br/></td>
        <td width="232" valign="top"><br/></td>
        <td width="233" valign="top"><br/></td>
    </tr>
    <tr>
        <td width="91" valign="top" style="word-break: break-all;">示例</td>
        <td valign="top" rowspan="1" colspan="4" width="684"><br/></td>
    </tr>
    </tbody>
</table><p><br/></p>