.swagger-container {
    width: 1140px;
    margin: 31px auto 100px;
    background-color: #00a6f3;
    text-align: center;
}
.swagger-wrap {
    width: 1114px;
    border: 2px dashed #003d97;
    background-color: #007cdc;
    margin: 9px auto;
    display: inline-block;
    text-align: center;
    min-height: 279px;
}

.swagger-wrap .logo {
    width: 47px;
    height: 47px;
    margin-top: 47px;
    display: inline-block;
}

.swagger-wrap .desc {
    margin: 17px 0;
    color: #fff;
}

.swagger-wrap .search .search-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.swagger-wrap .search .prefix {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: solid 1px #000000;
    border-right: none;
}

.swagger-wrap .search input {
    width: 262px;
    height: 40px;
    border-radius: 1px 0 0 1px;
    border: solid 1px #000000;
    background-color: #ffffff;
    outline: none;
    padding: 11px;
    vertical-align: middle;
    color: #a7a7a7;
    border-left: none;
}

.swagger-wrap .search .analysis {
    width: 59px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #003d97;
    background-color: #003d97;
    vertical-align: middle;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-left: -5px;
}

.swagger-wrap .search .select-file-button {
    background-color: #fff;
    border: none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 2px 10px;
    border-radius: 1px;
    margin-right: 8px;
}

.swagger-wrap .search p {
    margin-top: 15px;
    color: #fff;
}

.guide {
    padding: 50px;
    margin-top: 122px;
    background: #f5f5f5;
    text-align: center;
}
.guide .guide-title {
    font-size: 22px;
    margin-bottom: 55px;
}

.guide .guide-list {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, minmax(350px,1fr));
    grid-template-rows: 357px;
    gap: 76px;
    padding: 0 50px;
}

.guide .guide-list .guide-item {
    background: #d8d8d8;
}

.guide .guide-more {
    font-size: 13px;
    margin-top: 75px;
}

.guide .guide-more a {
    color: #0757fe;
}

.preview {
    margin: 24px 56px;
    background-color: #fff;
    display: none;
}

.preview .preview-head {
    padding: 12px 18px;
    background-color: #f4f4f4;
    display: flex;
}

.preview .preview-head .preview-title {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    flex: 1;
    text-align: left;
}

.preview .preview-head .preview-btns button {
    outline: none;
    height: 40px;
    width: 120px;
    font-size: 14px;
    border: solid 1px #fff;
    border-radius: 1px;
    background-color: #fff;
    color: #00a6f3;
    cursor: pointer;
    margin-left: 17px;
}

.preview .preview-head .preview-btns .generate {
    background: #00a6f3;
    color: #fff;
}

.preview .preview-content {
    padding: 10px;
}

.preview .preview-content iframe {
    width: 100%;
    border: none;
    height: 800px;
}
