input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + span {
    background-image: url("/assets/checked.svg");
    background-size: 14px 14px;
}

input[type="checkbox"] + span {
    background-image: url("/assets/checkbox.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"]:disabled + span {
    opacity: 0.5;
    cursor: auto;
}