.swagger-container {
    background-color: #34c482;
}

.swagger-container .swagger-wrap {
    border-color: #175a36;
    background-color: #158249;
}

.swagger-wrap .search .prefix img {
    width: 16px;
}

.swagger-wrap .search .prefix {
    padding: 0;
    padding-right: 10px;
    background: transparent;
    border: none;
}

.swagger-container .swagger-wrap .search button.search-container {
    border: none;
    outline: none;
    padding: 0 18px;
    cursor: pointer;
    border-radius: 1px;
    border: solid 0.5px #000000;
}

.scan-result {
    margin: 24px 56px;
    background-color: #fff;
    display: none;
}

.scan-result .scan-result-head {
    padding: 12px 18px;
    background-color: #f4f4f4;
    display: flex;
}

.scan-result .scan-result-head .scan-result-title {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    flex: 1;
    text-align: left;
}

.scan-result .scan-result-head .scan-result-txt {
    padding: 10px;
}