body {
    margin: 0;
    padding: 0 0 200px 0;
    font-size: 14px;
    color: #000;
}

.app-header {
    display: flex;
    align-items: center;
    height: 66px;
    background: #fff;
    box-shadow: 0 1px 0 0 #e0e0e0;
}

.app-header .logo {
    margin: 0 73px 0 31px;
}

.app-header .nav {
    flex: 1;
}

.app-header .nav li {
    display: inline-block;
    margin-left: 28px;
}

.app-main {
    /*max-width: 1440px;*/
    margin: 0 auto;
    padding: 26px 41px;
}

.app-main .title {
     font-size: 26px;
     font-weight: bold;
     text-align: center;
 }

.app-main .description {
    font-size: 18px;
    color: #353535;
    text-align: center;
    margin: 14px 0 25px 0;
}

.app-main .menu {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 94px;
}

.app-main .menu .item {
    /*width: 446px;*/
    background-color: #007cdc;
    text-align: center;
    padding: 40px 95px 29px;
    color: #fff;
}
.app-main .menu .item .cover {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 100%;
    margin-bottom: 33px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.app-main .menu .item .desc {
    font-size: 13px;
    height: 53px;
}
.app-main .menu .item button {
    width: 150px;
    height: 40px;
    outline: none;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.app-main .menu .item .cover img {
    width: 100%
}