.template-tree-wrapper {
    padding-left: 14px;
}

.template-tree-wrapper .template-tree-node {
    padding: 2.5px 0;
    position: relative;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.template-tree-wrapper .template-tree-node.focused {
    font-weight: bold;
}

.template-tree-wrapper .font-strong {
    font-weight: bolder;
}

.template-tree-wrapper .template-tree-node.disabled .tree-node-name,
.template-tree-wrapper .template-tree-node.disabled .tree-node-tip,
.template-tree-wrapper .template-tree-node.disabled .tree-node-desc {
    opacity: 0.7;
}

.template-tree-wrapper .template-tree-node.focused .tree-node-tip {
    display: inline-block;
}

.template-tree-wrapper .template-tree-node .expand {
    position: absolute;
    left: -10px;
    top: 8px;
    float: left;
    border-width: 4px;
    border-top-width: 5px;
    border-style: solid;
    border-color: #8c8c8c transparent transparent transparent;
}

.template-tree-wrapper .template-tree-node .collapse {
    position: absolute;
    left: -8px;
    top: 6px;
    float: left;
    border-width: 4px;
    border-left-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #8c8c8c;
}

.template-tree-wrapper .template-tree-node .tree-node-name {
    color: #333;
}

.template-tree-wrapper .template-tree-node .tree-node-tip {
    display: none;
    margin-left: 5px
}

.template-tree-wrapper .template-tree-node .tree-node-desc {
    padding-left: 4px;
    color: #72a673;
}