.portal-title {
    width: 1100px;
    margin: 80px auto;
    display: flex;
    text-align: center;
}

.picture {
    width: 40%;
    margin: 22%;
}

.content {
    text-align: center;
    font-size: 16px;
}

.load-template-btn {
    width: 150px;
    height: 40px;
    border-radius: 1px;
    background-color: #5094ed;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    right: 0;
    bottom: 0;
    margin: auto 2% auto 62%;
}

.step-choose {
    display: flex;
    min-height: 100px;
}

.step-choose div {
    margin: auto 0;
    width: 15%;
    height: 12%;
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
    position: relative;
    left: 35%;
}

.selected-step {
    border-radius: 20px;
    box-shadow: 3px 4px 3px 0px #e0e0e0;
    color: #00a0e9;
}

.not-selected {
    opacity: 0.5;
}

.category {
    min-height: 250px;
    background-color: #007cdc;;
    display: flex;
}

.category div {
    width: 10%;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

.category a {
    color: white;
}

.category div img {
    width: 100px;
}

.category div p {
    margin-bottom: 0;
}