.template-container {
    display: grid;
    grid-template-columns: 365px 1fr;
    min-height: calc(100vh - 66px);
}

.template-container .template-container-tree {
    border: 1px solid red;
}

.template-container .template-container-editor .edui-default .edui-editor-toolbarboxouter {
    background: #fff;
}

.template-container .edui-editor-toolbarboxinner {
    display: flex;
}

.template-generate-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5px;
}
.template-container .template-generate-btn {
    width: 120px;
    height: 40px;
    border-radius: 1px;
    background-color: #5094ed;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    right: 0;
    bottom: 0;
}