.tool-info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 137px;
    padding: 0 180px;
}

.tool-info .item {
    text-align: center;
    line-height: 1.4;
}

.tool-info .item .cover {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.tool-info .item h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 21px 0;
}