<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="application/msword"/>
        <title th:text="${swaggerInfo.title}"></title>
    </head>
    <body style="width: 800px">
        <h1>
            <span th:text="${swaggerInfo.title}" style="padding-right: 10px"></span>
            <span>version:</span>
            <span th:text="${swaggerInfo.version}"></span>
        </h1>
        <h3 th:text="${swaggerInfo.description}"></h3>
    </body>
</html>