<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/tool-info.css">
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div th:replace="header::header"/>
    <main class="app-main">
      <h2 class="title">For Agile!</h2>
      <p class="description">为敏捷而生</p>
      <div class="menu">
        <div class="item">
          <div class="cover"><img class="img-response" src="/assets/jira@2x.png" alt="jira"></div>
          <p class="desc">支持jira导出的csv文件导入数据源，选择合适的输出模板样式，一键导出需求文档</p>
          <button type="button">查看</button>
        </div>
        <div class="item">
          <div class="cover"><img class="img-response" src="/assets/swagger@2x.png" alt="swagger"></div>
          <p class="desc">支持swagger接口请求或是离线文件方式导入接口数据源，选择合适的输出模板样式，一键导出成Word, Excel格式的接口文档</p>
          <button type="button">查看</button>
        </div>
        <div class="item">
          <div class="cover"><img class="img-response" src="/assets/db@2x.png" alt="mysql"></div>
          <p class="desc">支持MySQL, Oracle, SQL Server数据库导出的sql文件导出为ER图</p>
          <button type="button">查看</button>
        </div>
      </div>
      <div th:replace="tool-info::toolInfo"></div>
    </main>
  </body>
</html>
