<!DOCTYPE html>
<html>
  <head>
    <title>嘀嗒验收小工具</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="short icon" href="/assets/di-da.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/swagger.css" />
    <link rel="stylesheet" href="/css/tool-info.css">
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div th:replace="header::header"/>
    <main class="app-main">
      <h2 class="title"><img style="width: 17px; height: 23px; vertical-align: middle" src="/assets/transfer.svg" alt=""> Swagger转Word</h2>
      <p class="description">接口文档转换</p>
      <section class="swagger-container">
        <div class="swagger-wrap">
          <div class="logo"><img class="img-response" src="/assets/swagger-logo.svg" alt=""></div>
          <p class="desc">请输入你的Swagger源</p>
          <div class="search">
            <input type="text" placeholder="http://swagger-url"/>
            <button type="button" class="analysis">解析</button>
            <p>
              <input type="file" hidden/>
              <button class="select-file-button">选择文件</button>
              或直接拽文件进来
            </p>
          </div>
        </div>
      </section>
      <div th:replace="tool-info::toolInfo"></div>
      <section class="guide">
        <h2 class="guide-title">如何将Swagger转成接口文档</h2>
        <div class="guide-list">
          <div class="guide-item"></div>
          <div class="guide-item"></div>
          <div class="guide-item"></div>
        </div>
        <p class="guide-more"><a href="#">查看更多</a></p>
      </section>
    </main>
  </body>
  <script>
    const fileInput = $('input[type="file"]')
    const JSON_FILE_TYPE = 'application/json'

    function $(selector){
      return document.querySelector(selector)
    }

    function throwError(msg) {
      alert(`[ERROR]: ${msg}`)
      throw new Error(msg)
    }

    function proxyFileSelect() {
      const selectFileBtn = $('.select-file-button')
      selectFileBtn.addEventListener('click',() => {
        fileInput.click()
      })
    }

    function registerFileSelectListener( ) {
      fileInput.addEventListener('change',() => {
        const file = fileInput.files[0]
        validateJSON(file)
        renderJSON(file)
      })
    }

    function isValidJSON(fileType) {
      if (!fileType || fileType !== JSON_FILE_TYPE) {
        return false
      }
      return true
    }

    function parseJSON(data) {
      try {
        const json = JSON.parse(data)
        console.log(json)
      } catch (err) {
        console.log('parseJSON:', err.message)
        throwError('解析 JSON 文件失败')
      }
    }

    function validateJSON(file) {
      if (!isValidJSON(file.type)) {
        throwError('请选择正确的json文件')
      }
      return true
    }

    function renderJSON(file) {
      const reader = new FileReader()
      reader.onprogress = ()=>{
        console.log('loading..')
      }
      reader.onerror = () => {
        alert('[ERROR]:读取JSON文件失败!')
      }
      reader.onabort = () => {
        alert('[ABORT]:读取JSON文件失败!')
      }
      reader.onload = () => {
        const json = reader.result
        parseJSON(reader.result)
        console.log(json)
      }
      reader.readAsText(file, 'utf-8') //base64
    }

    function addDragAreaHighlight(dragArea) {
      dragArea.classList.add('drag-area-highlight')
    }
    function removeDragAreaHighlight(dragArea) {
      dragArea.classList.remove('drag-area-highlight')
    }

    function registerDrag(dragArea) {
      dragArea.addEventListener(
          'dragenter',
          (e) => {
            e.preventDefault()
            e.stopPropagation()
            addDragAreaHighlight(dragArea)
          },
          false
      )
      dragArea.addEventListener(
          'dragleave',
          (e) => {
            e.preventDefault()
            e.stopPropagation()
            removeDragAreaHighlight(dragArea)
          },
          false
      )
      dragArea.addEventListener(
          'dragover',
          (e) => {
            e.preventDefault()
            e.stopPropagation()
          },
          false
      )

      dragArea.addEventListener(
        'drop',
        (e) => {
          e.preventDefault()
          e.stopPropagation()
          removeDragAreaHighlight(dragArea)
          const file = (e.dataTransfer || e.originalEvent.dataTransfer).files[0]
          validateJSON(file)
          renderJSON(file)
        },
        false
      )
    }

    window.onload = ()=> {
      proxyFileSelect()
      registerDrag($('.swagger-container'))
      registerFileSelectListener()
    }
  </script>
</html>
