<!DOCTYPE html>
<html>
<head>
    <title>嘀嗒验收小工具</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="short icon" href="/assets/di-da.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/template.css" />
</head>
<body>
<div th:replace="header::header"/>
<div class="template-container">
    <div class="template-container-tree"></div>
    <div class="template-container-editor" id="editor" style="width: 100%;height: 100%"></div>
</div>
</body>
<script src="/js/ueditor/ueditor.config.js"></script>
<script src="/js/ueditor/ueditor.all.js"></script>
<script src="/js/template.js"></script>
</html>
