<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="tool-info" th:fragment="toolInfo">
        <div class="item">
            <div class="cover"><img class="img-response" src="/assets/padnote.svg" alt=""></div>
            <h4>怎么使用？</h4>
            <p>支持swagger接口请求或是离线文件方式导入接口数据源，选择合适的输出模板样式，一键导出成Word, Excel格式。</p>
        </div>
        <div class="item">
            <div class="cover"><img class="img-response" src="/assets/shield.svg" alt=""></div>
            <h4>是否安全？</h4>
            <p>文件的安全保密是我们的最首要的关注点，我们所有的文件都在本地处理，处理完成后，系统会自动清理到内存中的残留文件。</p>
        </div>
        <div class="item">
            <div class="cover"><img class="img-response" src="/assets/monitor.svg" alt=""></div>
            <h4>工具兼容性？</h4>
            <p>用户无需注册或安装任何软件，嘀哒小程序能在各种平台运行和输出目标文件。推荐使用Chrome。</p>
        </div>
    </div>
</body>
</html>