.drag-selected {
    background-color: #f5f5f5;
    cursor: move;
}

.drag-cursor {
    cursor: move;
}

.drag-moving {
    opacity: 0.5;
}

.drag-unselected * {
    user-select: none;
}

.drag-move-container > * {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    opacity: 0.9;
}

.drag-move-container:after {
    content: attr(data-number);
    z-index: 1001;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    line-height: 20px;
    text-align: center;
    right: -6px;
    top: -6px;
}