.modal-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.3);
}

.modal-window .modal-container {
    background-color: white;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.modal-window .modal-header {
    padding: 10px;
    display: flex;
}

.modal-window .modal-header .modal-title {
    font-size: 16px;
    font-weight: bold;
    flex: 1;
}

.modal-window .modal-header .modal-close span {
    cursor: pointer;
    margin-top: -6px;
    display: block;
}

.modal-window .modal-content {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.8;
}

.modal-window .modal-buttons {
    padding: 10px;
    display: flex;
    padding-bottom: 18px;
}

.modal-window .modal-buttons .left {
    flex: 1;
}

.modal-window .modal-buttons button {
    border-radius: 1px;
    background-color: #5094ed;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 12px;
    cursor: pointer;
}

.modal-window .modal-buttons label {
    line-height: 24px;
    cursor: pointer;
}

.modal-window .modal-buttons input[type="checkbox"] {
    display: none;
}

.modal-window .modal-buttons input[type="checkbox"]:checked + span {
    background-image: url("/assets/checked.svg");
    background-size: 14px 14px;
}

.modal-window .modal-buttons input[type="checkbox"] + span {
    background-image: url("/assets/checkbox.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
